@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

h1{
    font-family: "Montserrat";
    font-weight:lighter;
    font-size: 60px;
    padding-top: 10px;
}
h2{
    font-family: "Montserrat";
    font-size: 35px;
}
h3{
    font-family: "Montserrat";
    font-weight: lighter;
}

h4 {
    font-family: "Montserrat";
    font-size: 35px;
    padding-right:20px;
    padding-top:100px;
    padding-bottom:100px;
    padding-left: 20px;
}

html, body{
    background-color:#E5E5E5;
    background: #E5E5E5;
    font-family: "Montserrat";
    padding: 20px;
}

.bigemail{
    color: #7851A9;
    font-weight: bolder;
    font-size: 30px;
}

.accentfont {
    font-family: 'Montserrat';
    font-weight: bold;
    color: #7851A9;
}

.accentfont a.is-active,.accentfont a:hover,a.accentfont.is-active,a.accentfont:hover{
    color: black
}

.accenttitle{
    color: #7851A9;
    font-weight: bolder;
    
}

.foot {
    bottom: 0px;
}

.avatar{
    padding-top: 50px;
    height:720px;
    border-radius: 0%;
}

.note {
    justify-self: flex-end;
  }

.logo {
    width: 30px;
    height: auto;
    left: -20px;
}

.nav-left,.nav-right {
    align-items:stretch;
    flex-basis:0;
    flex-grow:1;
    flex-shrink:0
}
.nav-left {
    display:flex;
    justify-content:flex-start;
    overflow-x:auto
}
.nav,.nav-center {
    align-items:stretch;
    display:flex
}
.nav-center {
    flex-grow:0;
    flex-shrink:0;
    justify-content:center;
    margin-left:auto;
    margin-right:auto
}
.nav-right {
    justify-content:flex-end;
}
@media screen and (min-width:769px){
    .nav-right {display:flex}
}

.nav-item{
    align-items:center;
    display:flex;
    flex-grow:0;
    flex-shrink:0;
    font-size:1rem;
    justify-content:center;
    padding: 0em .75rem
}
.nav-item a{
    flex-grow:1;
    flex-shrink:0
}
.nav-item img{
    max-height:1.75rem
}
.nav-item .button+.button{
    margin-left:.75rem
}
.nav-item .tag:first-child:not(:last-child){
    margin-right:.5rem
}
.nav-item .tag:last-child:not(:first-child){
    margin-left:.5rem
}
.nav-item a,a.nav-item{
    color:#7851A9
}
.nav-item a.is-active,.nav-item a:hover,a.nav-item.is-active,a.nav-item:hover{
    color:#363636
}
.nav-item a.is-tab,a.nav-item.is-tab{
    border-bottom:1px solid transparent;
    border-top:1px solid transparent;
    padding-bottom:calc(.5rem - 1px);
    padding-left:1rem;
    padding-right:1rem;
    padding-top:calc(.5rem - 1px)
}
.nav-item a.is-tab:hover,a.nav-item.is-tab:hover{
    border-bottom-color:#00d1b2;border-top-color:transparent
}
.nav-item a.is-tab.is-active,a.nav-item.is-tab.is-active{
    border-bottom:3px solid #00d1b2;
    color:#00d1b2;
    padding-bottom:calc(.5rem - 3px)
}

.link-item a,a.link-item{
    color:grey
}
.link-item a.is-active,.link-item a:hover,a.link-item.is-active,a.link-item:hover{
    color: #7851A9
}

@media screen and (min-width:1000px){
    .nav-item a.is-brand,a.nav-item.is-brand{
        padding-left:0
    }
}
@media screen and (max-width:768px){
    .nav-item{
        justify-content:flex-start
    }
    .nav-menu{
        background-color:#fff;
        box-shadow:0 4px 7px rgba(10,10,10,.1);
        left:0;
        display:none;
        right:0;
        top:100%;
        position:absolutes
    }
    .nav-menu .nav-item{
        border-top:1px solid #7851A9(219,219,219,.5);padding:.75rem
    }

    .nav-menu.is-active{
        display:block
    }
}
@media screen and (min-width:769px) and (max-width:999px){
    .nav-menu{
        padding-right:1.5rem
    }
}

.arrow{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40px;
}

.projects {
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto  
}

.project-number {
    text-align: right;
    font-size: 25px;
    font-weight: bolder;
    line-height: 1em;
    color: black;
}

.project-description {
    text-align: right;
    font-size: 18px;
}

.project-tools {
    font-style: italic;
    font-size: 18px;
    text-align: right;
}
